<div class="container-fluid vh-100">
    <div class="row">  
        <div class="col-sm-12 col-md-6 mx-auto mt-5 px-3">
            <h2 class="fw-light"> Track and manage your Vehicles</h2>
            <p class="fw-light">Keep track of your inventory vehicles</p>
        
            <div class="d-flex justify-content-between mb-4">
                <button class="btn btn-primary mb-4 px-4" routerLink="/signin"> Sign In</button>
                
                <button class="btn btn-outline-primary mb-4 px-4" routerLink="/signup" routerLinkActive="active"> Sign Up</button>
            </div>
        </div>
    </div>
    
</div>


