<section id="dashboard">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
            </ol>
        </div>
        <div class="page-header">
            <h1>Welcome to your dashboard</h1>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">Car Count</div>
                                <div class="card-body">
                                  <p>Number of Cars: {{ carCountData?.car_count }}</p>
                                  <p>Moving Cars: {{ carCountData?.moving }}</p>
                                  <p>Idle Cars: {{ carCountData?.idle }}</p>
                                </div>
                            </div>                              
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header">Services</div>
                                <div class="card-body">
                                  <p>Total Completed: {{ servicesData?.total_completed }}</p>
                                  <p>Total Upcoming: {{ servicesData?.total_upcoming }}</p>
                                  <p>Pending Services: {{ servicesData?.pending_services }}</p>
                                  <ul>
                                    <li *ngFor="let service of servicesData?.services | keyvalue">
                                      Service ID: {{ service.key }}, Quantity: {{ service.value }}
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    Small Card 3
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    Small Card 4
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="content">
            <div class="card mt-3">
                <div class="card-header">Big Card 2</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    Graph 1
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    Graph 2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
