<section id="dashboard">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
            </ol>
        </div>
        <div class="page-header">
            <h1>Welcome to your dashboard</h1>
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Home</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#services" aria-selected="true" role="tab">Services</a>
                          </li>      
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade show active" id="home" role="tabpanel">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        
                                        <div class="card-body">
                                            <div class="card-title">CARS</div>
                                            <p class="card-text">Number of Cars: {{ carCountData?.car_count }}</p>
                                            <p class="card-text">Moving Cars: {{ carCountData?.moving }}</p>
                                            <p class="card-text">Idle Cars: {{ carCountData?.idle }}</p>
                                        </div>
                                    </div>                              
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        
                                        <div class="card-body">

                                            <div class="card-title">SERVICES</div>
                                            <p class="card-text">Total Completed: {{ servicesData?.totalCompleted }}</p>
                                            <p class="card-text">Total Upcoming: {{ servicesData?.totalUpcoming }}</p>
                                            <p class="card-text">Pending Services: {{ servicesData?.pendingServices }}</p>
                                          <!--<ul>
                                            <li *ngFor="let service of servicesData?.services | keyvalue">
                                              Service ID: {{ service.key }}, Quantity: {{ service.value }}
                                            </li>
                                          </ul>-->
                                        </div>
                                      </div>     
                                </div>     
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel">
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                        </div>
                        <div class="tab-pane fade" id="dropdown1">
                          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
                        </div>
                        <div class="tab-pane fade" id="dropdown2">
                          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
                        </div>
                      </div>
                    
                </div>
            </div>
            
        </div>

        <div class="content">
            <div class="card mt-3">
                <div class="card-header">Big Card 2</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    Graph 1
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    Graph 2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
