<section id="profile-settings">
    <div class="container">
        
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Settings</li>
        </ol>
        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
        </div>
        <div class="loading-overlay" *ngIf="isLoading">
            <div class="spinner-border" ></div>
            <!-- Or any other loading indicator/message -->
        </div>
        <div>
            <button class="btn btn-outline-primary my-3 mx-4" (click)="isProfile = false; isAccount = true; isBot = false">Account</button>
            <button class="btn btn-outline-primary my-3 mx-4" (click)="isProfile = true; isAccount = false; isBot = false">Profile</button>     
            <button class="btn btn-outline-primary my-3 mx-4" (click)="isProfile = false; isAccount = false; isBot = true">Bot</button>

        </div>
        <div class="row justify-content-center">
            <div class="col-md-12" *ngIf="this.isProfile">
                <div class="card border-secondary mb-3">
                    <div class="card-header">Profile settings</div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmitProfile()">
                            <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="username" class="form-label" >Company Name</label>
                                        <input type="text" class="form-control" id="username" placeholder="Enter your username" [(ngModel)]="formData.username" name="username">
                                    </div>
                                    
                                </div>
                                <div class="row mb-3">
                                    
                                    <div class="col-md-6">
                                        <label for="phone_number" class="form-label" >Primary Phone Number</label>
                                        <input type="text" class="form-control" id="phone_number" placeholder="254..." [(ngModel)]="formData.phone_number" name="phone_number">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="secondary-phone-number" class="form-label" >Secondary Phone Number</label>
                                        <input type="text" class="form-control" id="secondary-phone-number" placeholder="254..." [(ngModel)]="formData.phone_number2" name="phone_number2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary">Update Profile</button>
                                    </div>
                                </div>
                        </form>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-12" *ngIf="this.isBot">
                <div class="card border-secondary mb-3" >
                    <div class="card-header">Bot settings</div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmitBot()">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="phone-number" class="form-label" >Phone Number</label>
                                    <input type="number" class="form-control" id="phone-number" placeholder="254..." [(ngModel)]="formData.phone_number" name="phone_number">
                                </div>
                                <div class="col">
                                    <label for="phone-number2" class="form-label" >Back Up Number</label>
                                    <input type="number" class="form-control" id="back-up-number" placeholder="254..." [(ngModel)]="formData.phone_number2" name="phone_number2">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Update Bot Settings</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12" *ngIf="this.isAccount">
                <div class="card border-secondary mb-3">
                    <div class="card-header">Account settings</div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmitAccount()" >
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" id="service-maintenance" [(ngModel)]="fuelPayment" name="service_and_maintainance">
                                        <label class="form-check-label" for="service-maintenance">
                                            Service and Maintenance
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" id="car-anomalies" [(ngModel)]="carAnomalies" name="car_anomalies">
                                        <label class="form-check-label" for="service-maintenance">
                                            Service and Maintenance
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" id="fuel-payment" [(ngModel)]="payment" name="fuel">
                                        <label class="form-check-label" for="fuel">
                                            Fuel
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" id="payment" [(ngModel)]="subscription" name="payment_and_subscription">
                                        <label class="form-check-label" for="payment">
                                            Payment
                                        </label>
                                    </div>
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" id="systemUpdates" [(ngModel)]="systemUpdates" name="system_updates">
                                        
                                        <label class="form-check-label" for="systemUpdates">
                                            System Updates
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Update Profile</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

