<section id="vehicle-dashboard">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
            </ol>
            <div *ngIf="successMessage" class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert">.</button>
                {{ successMessage }}
            </div>
              
        </div>
        <div class="page-header">
            <div class="row">
                <div class="col-md-6">
                    <div class="card border-secondary mb-3">
                        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Moving Cars</div>
                                        <div class="card-body">
                                            <p>{{ carCountData?.moving }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Stopped Cars</div>
                                        <div class="card-body">
                                            <p>{{ carCountData?.idle }}</p>
                                            <!-- Add more vehicle information here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        <div class="content">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <h5>Vehicles</h5>
                        </div>
                        <div class="col-auto">
                            <button routerLink="/add-vehicle" class="btn btn-primary">Add Car</button>
                        </div>
                    </div>
                </div>
                
                
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Model</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Number Plate</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let vehicle of vehicles">
                            <td>{{ vehicle.model }}</td>
                            <td>{{ vehicle.manufacturer }}</td>
                            <td>{{ vehicle.number_plate }}</td>
                            <td><a href="" class="btn btn-secondary">View</a></td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
        </div>
    </div>
</section>
