/* You can add global styles to this file, and also import other style files */

/*@import "~bootstrap/dist/css/bootstrap.min.css";

@import "./bootstrap/bootstrap.min.css";*/

.main {
    /*background-image: url('path/to/your/image.jpg');*/
    
    background-size: cover;
    background-position: center;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
  }
  .horizontal-list {
    display: flex;
    flex-wrap: nowrap; /* Ensures items don't wrap to next line */
    gap: 20px; /* Adjust spacing between items */
    list-style: none; /* Removes default list styles */
    padding: 0;
}

.horizontal-list li {
    flex: 1; /* Each item takes equal space */
}


