/* You can add global styles to this file, and also import other style files */

/*@import "~bootstrap/dist/css/bootstrap.min.css";

@import "./bootstrap/bootstrap.min.css";*/

.container {
  /*height: 100vh;*/
}

.main {
    /*background-image: url('path/to/your/image.jpg');*/
    
    background-size: cover;
    background-position: center;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
  }
  .horizontal-list {
    display: flex;
    flex-wrap: nowrap; /* Ensures items don't wrap to next line */
    gap: 20px; /* Adjust spacing between items */
    list-style: none; /* Removes default list styles */
    padding: 0;
}

.horizontal-list li {
    flex: 1; /* Each item takes equal space */
}

.loading-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.9) !important; /* Darken the background */
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
  transform: translateY(100%); /* Initially move the overlay below */
  animation: slideUp 0.4s forwards; /* Apply slide up animation */
}

@keyframes slideUp {
  from {
    transform: translateY(100%); /* Start from below */
    opacity: 0; /* Initially invisible */
  }
  to {
    transform: translateY(0); /* Slide up to original position */
    opacity: 1; /* Fade in */
  }
}
.spinner-border {
  width: 5rem;
  height: 5rem;
  
}

.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
  font-size: 100px !important;
}
