<section id="vehicle-detail-view">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Settings</li>
        </ol>
        
        <div>
            <a routerLink="/vehicle" class="btn btn-outline-primary my-3 mx-4">Go Back</a>
        </div>
        <div *ngIf="successMessage" class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert">.</button>
            {{ successMessage }}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12" id="vehicle-detail-view">

                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" data-bs-toggle="tab" href="#general" aria-selected="true" role="tab">General</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" href="#repairs" aria-selected="false" tabindex="1" role="tab">Repairs History</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" data-bs-toggle="tab" href="#settings" aria-selected="false" tabindex="0" role="tab">Settings</a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Service</a>
                                <div class="dropdown-menu">                                  
                                  <a class="dropdown-item" [routerLink]="['/add-fuel', vehicleId]" >Add Fuel</a>
                                  <a class="dropdown-item" [routerLink]="['/add-service', vehicleId]" >Add Service</a>
                                  <a class="dropdown-item" [routerLink]="['/subscriptions', vehicleId]">Payment And subscriptions</a>  
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                              <div class="dropdown-menu">
                                <h5 class="dropdown-item">Download Reports</h5>
                                <a class="dropdown-item" href="#">General Reports</a>
                                <a class="dropdown-item" href="#">Payment And subscriptions Report</a>
                              </div>
                            </li>
                        </ul>
                        

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade show active " id="general" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row"> 
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <ul class="horizontal-list">
                                                    <li>
                                                      <label for="speed">Speed</label>
                                                      <br>
                                                      <h2>{{ vehicleData?.throttle?.speed_id }}</h2>
                                                    </li>
                                                    <li>
                                                      <label for="mileage">Mileage</label>
                                                      <br>
                                                      <h2>{{ vehicleData?.mileage?.mileage }}</h2>
                                                    </li>
                                                    <li>
                                                      <label for="engine_load">Engine Load</label>
                                                      <br>
                                                      <h2>{{ vehicleData?.engineload?.engine_load_value }}</h2>
                                                    </li>
                                                    <li>
                                                      <label for="fuel">Fuel</label>
                                                      <br>
                                                      <h2>{{ vehicleData?.fuel?.fuel_level }}</h2>
                                                    </li>
                                                    <li>
                                                      <label for="battery">Battery</label>
                                                      <br>
                                                      <h2>{{ vehicleData?.battery?.state_of_charge }}</h2>
                                                    </li>
                                                  </ul>
                                                  
                                            </div>
                                        </div>
                                        
                                        
                                        <!--Anomalies-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card border-danger mb-3" style="max-width: 30rem;">
                                                            <div class="card-header">Errors</div>
                                                            <div class="card-body">
                                                            <h4 class="card-title">{{ vehicleData?.['error codes']?.fault_code }}</h4>
                                                            <p class="card-text">{{ vehicleData?.['error codes']?.description }}</p>
                                                            <p class="card-text">{{ vehicleData?.['error codes']?.severity }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card border-warning mb-3" style="max-width: 30rem;">
                                                            <div class="card-header">Anomaly</div>
                                                            <div class="card-body">
                                                            <h4 class="card-title">{{ vehicleData?.['error codes']?.fault_code }}</h4>
                                                            <p class="card-text">{{ vehicleData?.['error codes']?.description }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          

                                        <!--vehicle-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <label for="status">

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--map-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card">
                                                <div class="row align-items-center">
                                                    <h4>Location</h4>
                                                </div>
                                                
                                            </div>
                                            <div class="card-body">
                                                <div id="map">
                                                    <div class="ratio ratio-16x9">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32844.99850210218!2d36.92014577280778!3d-1.3286163527029216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f129102505cef%3A0xefc58e7ef0660bf2!2sJomo%20Kenyatta%20International%20Airport!5e0!3m2!1sen!2ske!4v1713476878480!5m2!1sen!2ske" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="settings" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row"> 
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <form (ngSubmit)="onSubmitUpdateVehicle()">
                                                    <div class="row">
                                                        <div class="form-group col-md-4">
                                                            <label for="manufacturer" class="form-label" >Manufacturer</label>
                                                            <input type="text" class="form-control" id="manufacturer" placeholder="{{ vehicleData?.vehicle?.manufacturer}}" [(ngModel)]="formData.manufacturer" name="manufacturer">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="year" class="form-label" >Model Year</label>
                                                            <input type="number" min="1900" class="form-control" id="year" placeholder="{{ vehicleData?.vehicle?.year }}" [(ngModel)]="formData.year" name="year">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="vehicle_reg_no">Vehicle Registration No</label>
                                                            <input type="text" class="form-control" id="vehicle_reg_no" placeholder="{{ vehicleData?.vehicle?.vehicle_reg_no }}" [(ngModel)]="formData.vehicle_reg_no" name="vehicle_reg_no">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="vehicle_type">Vehicle Type</label>
                                                            <input type="text" class="form-control" id="vehicle_type" placeholder="{{ vehicleData?.vehicle?.vehicle_type}} " [(ngModel)]="formData.vehicle_type" name="vehicle_type">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="model">Model</label>
                                                            <input type="text" class="form-control" id="model" placeholder="{{ vehicleData?.vehicle?.model }} " [(ngModel)]="formData.model" name="model">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="vehicle_color">Vehicle Color</label>
                                                            <input type="text" class="form-control" id="vehicle_color" placeholder="{{ vehicleData?.vehicle?.vehicle_color }} " [(ngModel)]="formData.vehicle_color" name="vehicle_color">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="device_number">Device Number</label>
                                                            <input type="number" class="form-control" id="device_number" placeholder="{{ vehicleData?.vehicle?.device_number }} " [(ngModel)]="formData.device_number" name="device_number">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="device_name">Device Name</label>
                                                            <input type="text" class="form-control" id="device_name" placeholder="{{ vehicleData?.vehicle?.device_name }} " [(ngModel)]="formData.device_name" name="device_name">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="device_sim">Device SIM</label>
                                                            <input type="text" class="form-control" id="device_sim" placeholder="{{ vehicleData?.vehicle?.device_sim }} " [(ngModel)]="formData.device_sim" name="device_sim">
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row">
                                                        <label for="status">
                                                            <br><br>
                                                            <button class="btn btn-warning">Update Vehicle</button>
                                                        </label>
                                                    </div>
                                                    
                                                        
                                                    
                                                </form>
                                            </div>
                                        </div>
                                        
                                        <!--Maintenance Settings-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card-header">
                                                <h5>Maintenance Settings</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <form (ngSubmit)="onMaintenaceSubmit()">
                                                        <div class="row">
                                                            <div class="mt-3">
                                                                <div class="form-group col-md-4">
                                                                    <label for="service_name">Service Name</label>
                                                                    <input type="number" class="form-control" id="service_name"   [(ngModel)]="formData.service_name" name="service_name">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label for="service_date">Service Date</label>
                                                                    <input type="date" class="form-control" id="service_date" [max]="currentDate" [(ngModel)]="formData.service_date" name="service_date">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label for="service_interval">Service Interval</label>
                                                                    <input type="number" class="form-control" min="1" id="service_interval" placeholder="1" [(ngModel)]="formData.service_interval" name="service_interval">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            
                                                            <label for="status">
                                                                <br><br>
                                                                <button class="btn btn-warning">Update Maintenace</button>
                                                            </label>
                                                            
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!--vehicle-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <label for="status">
                                                        <button class="btn btn-danger"  (click)="deleteVehicle()">Delete Vehicle</button>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                </div>
                                
                            </div>
                            <div class="tab-pane fade show" id="repairs" role="tabpanel">
                                <div class="col-md-12">
                                    
                                    <div class="row">     
                                        <!--vehicle-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <ul class="nav nav-pills" role="tablist">
                                                    <li class="nav-item">
                                                      <a class="nav-link active" data-bs-toggle="tab" aria-selected="true" href="#repairs-history" role="tab">Repairs</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-bs-toggle="tab" aria-selected="false" href="#services-history" role="tab">Services</a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="myTabContent2" class="tab-content">
                                            <div class="tab-pane fade show active" id="repairs-history">
                                                <div class="card border-secondary mb-3">
                                                    <div class="card-body">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                              <tr>
                                                                <th scope="col">Repair Date</th>
                                                                <th scope="col">Mileage</th>
                                                                <th scope="col">Service Type</th>
                                                                <th scope="col">Cost</th>
                                                                <th scope="col"></th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr *ngFor="let repair of repairs">
                                                                <td>{{ repair.repaired_date }}</td>
                                                                <td>{{ repair.mileage }}</td>
                                                                <td>{{ repair.service_type }}</td>
                                                                <td>{{ repair.total_cost }}</td>
                                                                <!--<td><a [routerLink]="['/vehicle-detail-view', vehicle.id]" class="btn btn-secondary">View</a></td>-->
                                                              </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade show" id="services-history">
                                                <div class="card border-secondary mb-3">
                                                    <div class="card-body">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                              <tr>
                                                                <th scope="col">Service Date</th>
                                                                <th scope="col">Next Service Date</th>
                                                                <th scope="col">Mileage</th>
                                                                <th scope="col">Service Type</th>
                                                                <th scope="col">Cost</th>
                                                                <th scope="col"></th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr *ngFor="let service of services?.['Service Schedule']">
                                                                <td>{{ service.next_service_date }}</td>
                                                                <td>{{ service.last_service_date }}</td>
                                                                <td>{{ service.mileage }}</td>
                                                                <td>{{ service.service_type }}</td>
                                                                <td>{{ service.cost }}</td>
                                                                <!--<td><a [routerLink]="['/vehicle-detail-view', vehicle.id]" class="btn btn-secondary">View</a></td>-->
                                                              </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                </div>
                                
                            </div>
                        </div>        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>