<section id="vehicle-detail-view">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Settings</li>
        </ol>
        <div class="row justify-content-center">
            <div class="col-md-12" id="vehicle-detail-view">

                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                              <a class="nav-link active" data-bs-toggle="tab" href="#general" aria-selected="true" role="tab">General</a>
                            </li>
                            <li class="nav-item" role="presentation">
                              <a class="nav-link" data-bs-toggle="tab" href="#settings" aria-selected="false" tabindex="-1" role="tab">Settings</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Service</a>
                                <div class="dropdown-menu">
                                  
                                  <a class="dropdown-item" href="#">Add Fuel</a>
                                  <a class="dropdown-item" href="#">Car Defect</a>
                                  <a class="dropdown-item" href="#">Payment And subscriptions</a>
                                  
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                              <div class="dropdown-menu">
                                
                                
                                <a class="dropdown-item" href="#">General Reports</a>
                                <a class="dropdown-item" href="#">Payment And subscriptions Report</a>
                                
                              </div>
                            </li>
                        </ul>
                        

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade show active " id="general" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row"> 
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <ul class="horizontal-list">
                                                    <li>
                                                        <label for="speed">Speed</label>
                                                        <br>
                                                        <p>1</p>
                                                    </li>
                                                    <li>
                                                        <label for="mileage">Mileage</label>
                                                        <br>
                                                        <p>1</p>
                                                    </li>
                                                    <li>
                                                        <label for="speed">Engine Load</label>
                                                        <br>
                                                        <p>1</p>
                                                    </li>
                                                    <li>
                                                        <label for="speed">Fuel</label>
                                                        <br>
                                                        <p>1</p>
                                                    </li>
                                                    <li>
                                                        <label for="speed">Battery</label>
                                                        <br>
                                                        <p>1</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <!--vehicle-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <label for="status">

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--map-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card">
                                                <div class="row align-items-center">
                                                    <h4>Location</h4>
                                                </div>
                                                
                                            </div>
                                            <div class="card-body">
                                                <div id="map">
                                                    <div class="ratio ratio-16x9">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32844.99850210218!2d36.92014577280778!3d-1.3286163527029216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f129102505cef%3A0xefc58e7ef0660bf2!2sJomo%20Kenyatta%20International%20Airport!5e0!3m2!1sen!2ske!4v1713476878480!5m2!1sen!2ske" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="settings" role="tabpanel">
                                <div class="col-md-12">
                                    <div class="row"> 
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <ul class="horizontal-list">
                                                    <li>
                                                        <label for="speed">Speed</label>
                                                        <br>
                                                        <p>1</p>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <!--vehicle-->
                                        <div class="card border-secondary mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <label for="status">

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                </div>
                                
                            </div>
                            
                        </div>        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>